*.aux
*.log
*.nav
*.out
*.snm
*.toc
.cabal-sandbox/
dist/
examples/atemporal/*.pdf
examples/atemporal/Pictures/*.tex
examples/atemporal/Pictures/*.pdf
examples/temporal/*.pdf
examples/temporal/Pictures/*.tex
examples/min-dist/*.pdf
examples/min-dist/Pictures/*.tex
examples/*.pdf
