*.aux
*.log
*.nav
*.out
*.snm
*.toc
examples/atemporal-compact.pdf
examples/atemporal-comparison.pdf
examples/temporal.pdf
examples/tex-files/temporal/*
examples/tex-files/atemporal/*
examples/tex-files/temporal.tex
examples/tex-files/atemporal-compact.tex
examples/tex-files/atemporal-comparison.tex
